.contact {
  grid-area: contact;
  background: var(--clr-light);
}

.contact__frame,
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__box {
  width: auto;
  margin: 1em;
}
.contact__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.email {
  margin: 0;
  color: var(--clr-dark);
}
.contact__frame {
  margin: 1em;
  border: var(--clr-dark) 2px solid;
  height: auto;
  width: 100%;
}
.contact--link {
  color: var(--clr-dark);
}
